<div class="container">
  <div class="container-item container-item--fixed">
    <div class="container-img">
      <img src="/assets/cup.png" alt="cup of life" />
    </div>
    <div class="white caps">
      <h3>We would like to invite you and family for </h3>
    </div>
    <div class="golden large">
      <h1>Ethan's First Holy Communion</h1>
    </div>

    <div class="golden small ">
      <div>RSVP</div>
      <div>FRANCIS 0403698088 </div>
      <div>LEENA 046097390</div> 
    </div>
    <div class="itinerary white">
      <div class="date">Sunday, October 15, 2017</div>
      
      <div class="time">10:30 AM </div>
      
      <div>Mass at </div> 
      
      <div>Our Lady of Mount Carmel,</div>
      
      <div>4 Bennett St, </div>
      
      <div>Wentworthville Sydney,</div> 
      
      <div>Sydney</div>

      <div>NSW 2145</div>
      
      <br/><br/>
      <div class="time">12:00 PM </div> 
      
      <div>Reception at </div>
      
      <div>The Yaarl, </div>
      
      <div>221A Wentworth Avenue, </div>
      
      <div>Pendle Hill </div>
      
      <div>Sydney, </div>
      
      <div>NSW 2145</div>
   
  </div>

   
</div>

 <div class="action">
      <button md-raised-button>Accept</button>
      <button md-raised-button>Decline</button>
    </div>

</div>

