<div class="container">

  <img src="/assets/cup.png" alt="cup of life">

  <h3 class="white caps">We would like to invite you and family for </h3>

  <h1 class="golden large">Ethan's First Holy Communion</h1>

  <div class="golden small">RSVP FRANCIS 0403698088 LEENA 046097390</div>


  <div class="white">Sunday, October 15, 2017 10:30 AM Mass at Our Lady of Mount Carmel, 4 Bennett St, Wentworthville Sydney, NSW 2145 12:00
    AM Reception at The Yaarl, 221A Wentworth Avenue, Pendle Hill Sydney, NSW 2145</div>

    <button>Accept</button>
    <button>decline</button>

</div>