 <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Ethan's First Holy Communion</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
  <md-card-content>
    <div>Dearest, {{name}} , {{spouse}} and family</div>
    
    <div>
      With Love and Joy,
      Leena and Francis
      invite you to share a day with us as 
      our son receives his first Holy Communion
    </div>

    <div>Sunday, October 15th 2017</div>

    <div>
       <i class="material-icons">timer</i>at 10:30 am.

Our lady of Mount Carmel
4 Bennett Street, Wentworthville NSW 2145

    </div>

    <div>

      and then at <i class="material-icons">timer</i> 12:00 noon

      Yaarl Event Management
      www.yaarl.com.au
      221A Wentworth Avenue, Pendle Hill 2145 ·
    </div>

    <div></div>


  </md-card-content>
  <md-card-actions>
    Please RSVP before the 31st of August: 
    <button md-icon-button>
      <md-icon class="accept" (click)=result(true)>thumb_up</md-icon>
    </button>
    <button md-icon-button>
      <md-icon class="decline" (click)=result(false)>thumb_down</md-icon>
    </button>
  </md-card-actions>
</md-card>

