<form novalidate [formGroup]="starForm" (ngSubmit)="onSubmit()" novalidate>

  <md-card>
    <md-card-content>
      <md-input-container>
        <input type="text" mdInput formControlName="firstName" placeholder="First Name">
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-input-container>
        <input type="text" mdInput formControlName="lastName" placeholder="Last Name">
      </md-input-container>
    </md-card-content>

    <md-card-content>
      <md-input-container>
        <input type="text" mdInput formControlName="email" placeholder="Email">
      </md-input-container>
    </md-card-content>

    <md-card-content>
      <md-input-container>
        <input type="text" mdInput formControlName="mobile" placeholder="Mobile">
      </md-input-container>
    </md-card-content>

    <md-card-content>
      <md-input-container>
        <input type="text" mdInput formControlName="adults" placeholder="Total number of adults">
      </md-input-container>
    </md-card-content>

    <md-card-content>
      <md-input-container>
        <input type="text" mdInput formControlName="children" placeholder="Total number of children aged 5 and above">
      </md-input-container>
    </md-card-content>

    <!-- <md-card-content>
      <md-input-container>
        <input type="text" mdInput formControlName="infant" placeholder="Total number of Infants">
      </md-input-container>
    </md-card-content> -->

  </md-card>
  <div class="buttonContainer">
    <button md-raised-button type="submit">Edit</button>
    <button md-raised-button type="reset">Clear</button>
  </div>
</form>
