<div style="overflow-x:auto;">
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Adults</th>
    <th>Children</th>
    <th>infants</th>
    <th>Password</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let star of result">
    <td>{{star.firstName}}</td>
    <td>{{star.lastName}}</td>
    <td>{{star.email}}</td>
    <td>{{star.adults}}</td>
    <td>{{star.children}}</td>
    <td>{{star.infants}}</td>
    <td><a href="http://localhost:4200/admin/card/{{star.password}}">Email Link</a></td>
    <td><a href="http://localhost:4200/admin/edit/{{star.id}}">Edit</a></td>
  </tr>
</table>
</div>
