<table class="table">
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Adults</td>
    <td>Children</td>
    <td>infants</td>
    <td>Password</td>
    <td>Edit</td>
  </tr>
  <tr *ngFor="let star of result">
    <td>{{star.firstName}}</td>
    <td>{{star.lastName}}</td>
    <td>{{star.email}}</td>
    <td>{{star.adults}}</td>
    <td>{{star.children}}</td>
    <td>{{star.infants}}</td>
    <td><a href="http://localhost:4200/admin/card/{{star.password}}">Email Link</a></td>
    <td><a href="http://localhost:4200/admin/edit/{{star.id}}">Edit</a></td>
  </tr>
</table>
