<form novalidate 
[formGroup]="addPersonFormGroup" 
(ngSubmit)="onSubmit()">
 <md-card>
      <md-card-title>Add Guest</md-card-title>
      <md-card-content>
        <md-input-container>
          <input type="text" mdInput formControlName="fname" placeholder="First Name">
        </md-input-container>
        <md-input-container>
          <input type="text" mdInput formControlName="lname" placeholder="Last Name">
        </md-input-container>
         <md-input-container>
          <input type="text" mdInput formControlName="sname" placeholder="Spouce Name">
        </md-input-container>
         <md-input-container>
          <input type="text" mdInput formControlName="email" placeholder="Email">
        </md-input-container>
      </md-card-content>
      <button md-mini-fab type="submit">Add</button>
</md-card>
</form>